@import "../../../../../external/bootstrap/3.1.1/less/bootstrap.less";
@icon-font-path: '../../../../../external/bootstrap/3.1.1/fonts/';
@font-size-base: 16px;

@import "../../../../../external/font-awesome/4.1.0/less/font-awesome.less";
@fa-font-path: '../../../../../external/font-awesome/4.1.0/fonts';

@font-face {
  font-family: 'oscommerce';
  src:url('../../../fonts/oscommerce/oscommerce.eot?e4676y');
  src:url('../../../fonts/oscommerce/oscommerce.eot?#iefixe4676y') format('embedded-opentype'),
    url('../../../fonts/oscommerce/oscommerce.woff?e4676y') format('woff'),
    url('../../../fonts/oscommerce/oscommerce.ttf?e4676y') format('truetype'),
    url('../../../fonts/oscommerce/oscommerce.svg?e4676y#oscommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="osc-icon-"], [class*=" osc-icon-"] {
  font-family: 'oscommerce';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  font-size: 1em;
  margin-top: 10px;

/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.osc-icon-osi {
  color: #3DA639;

  &:before {
    content: "\e601";
  }
}

.osc-icon-spheres {
  &:before {
    content: "\e600";
  }
}

@media (min-width: @screen-lg-min) {
  .container {
    width: 970px;
  }
}

body {
  background: url('../../../images/bg.png') repeat;
  min-width: 320px;
}

h4 {
  color: #999;
}

p {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  line-height: 1.6em;
}

header {
  padding-top: 5px;
  height: 60px;

  @media (min-width: @screen-sm-min) {
    padding-top: 10px;
    height: 75px;
  }

  @media (min-width: @screen-md-min) {
    padding-top: 15px;
    height: 90px;
  }

  #logo {
    padding-top: 8px;
    max-width: 200px;

    @media (min-width: 400px) {
      padding-top: 5px;
      max-width: 240px;
    }

    @media (min-width: @screen-md-min) {
      padding-top: 2px;
      max-width: 290px;
    }
  }

  .navbar-header {
    margin-right: -10px;
  }

  #navbarLinks {
    padding-top: 5px;

    @media (max-width: @screen-xs-max) {
      .navbar-inverse;
    }

    @media (min-width: @screen-sm-min) {
      ul.nav {
        .nav-pills;

        .fa.fa-user {
          color: #000;
        }
      }
    }
  }
}

footer {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 0.9em;

  p {
    padding-bottom: 0.2em;
  }

  #footerSocialLinks a {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

#highlights {
  padding-bottom: 10px;

  img {
    .img-responsive;
  }

  .carousel-control {
    background-image: none;
    position: absolute;
    top: 72%;
    font-size: 1em;

    @media (min-width: @screen-xs-min) {
      top: 75%;
      font-size: 1.5em;
    }

    @media (min-width: @screen-sm-min) {
      font-size: 2em;
    }

    @media (min-width: @screen-md-min) {
      font-size: 3em;
    }
  }
}

#maincontainer {
}

#maincontent {
  background-color: #fff;
  padding: 0.1em 1.5em 0.5em 1.5em;

  @media (min-width: @screen-sm-min) {
    border-right: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
  }
}

.noborder {
  border: none !important;
}

#sidebar {
  @media (min-width: @screen-sm-min) {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  p {
    padding-bottom: 0.4em;
  }

  ul li {
    font-size: 1.5em;
    line-height: 1.6em;
    padding-bottom: 0.9em;

    a {
      text-decoration: none;
    }
  }
}

#chocolate_side {
  @media (min-width: @screen-sm-min) {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;

    li {
      display: inline;

    }
  }
}

.team_profile, .partner_profile {
  .profileImage {
    .img-responsive;
    .img-circle;

    margin-top: 15px;
    min-width: 45px;

    @media (min-width: @screen-sm-min) {
      margin-top: 5px;
    }

    @media (min-width: @screen-md-min) {
      margin-top: 15px;
    }
  }

  .profileSocialLinks {
    .pull-right;

    a {
      margin-left: 10px;
    }
  }
}

ul.double {
  list-style-type: none;
  overflow: hidden;

  @media (min-width: @screen-md-min) {
    li {
      float: left;
      width: 50%;
    }
  }
}

.supportIcons {
  margin-top: 25px;

  @media (min-width: @screen-xs-min) {
    font-size: 5em;
  }

  @media (min-width: @screen-sm-min) {
    font-size: 4em;
  }

  @media (min-width: @screen-md-min) {
    font-size: 6em;
  }
}

/* Text selection */

::-moz-selection{ background: #36d63d; color:#fff; text-shadow: none; }
::selection { background:#36d63d; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #36d63d; }
