<!doctype html>
<html {ifvalue html_tags}{raw}html_tags{raw}{ifvalue}>
<head>

<!--
      ________ ________  _________ ______________ _________ ________________________ _________ _________
     _\___    |    ___/_|    _    |    _   \____ ' _______ ' ____    ___________    |    _    |    ____/
    |    |   _|_____    |    |____|_   |    |   \ /   |   \ /   |    __/__|_   _   _|_   |____|_   __/____
    |    |   \_    |    |    |    _/   |    |    V    |    V    |    |    _/   |    _/   |    _/   |    _/
    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |    |
    |    '    |    '    |    '    |    '    |    |    |_   |    |_   '    |    |    |    '    |    '    |
    |_________|_________|_________|_________|____|____ /___|____ /________|____|____|_________|______hp_|
                                                     |/        |/
         C R E A T I N G    O N L I N E    S T O R E S    W O R L D W I D E    S I N C E    2 0 0 0 !
//-->

  <meta http-equiv="Content-Type" content="text/html; charset={value}html_character_set{value}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <title>{value}html_page_title{value}</title>

  <base href="{value}html_base_href{value}">

  <link rel="icon" type="image/png" href="{publiclink}images/favicon.ico{publiclink}">

  <link rel="stylesheet" type="text/css" href="{publiclink}templates/Amy/stylesheets/jade.css{publiclink}?v5234">

  <script src="{publiclink}external/jquery-3.3.1.min.js{publiclink}"></script>

  <link rel="alternate" type="application/rss+xml" href="https://www.oscommerce.com/oscommerce.rdf" title="osCommerce News">

{ifvalue html_header_tags}
  {raw}html_header_tags{raw}
{ifvalue}

<script>
var site_req = {raw json_encode}site_req{raw};
</script>
</head>
<body>
  <header>
    <nav class="navbar navbar-light navbar-expand-lg">
      <div class="container">
        <a href="{link}Index{link}" class="navbar-brand"><img src="{publiclink}images/oscommerce.png{publiclink}" id="logo"></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle Menu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarLinks">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item"><a href="{link}Products{link}" id="btnProducts" class="nav-link">{lang}navbutton_products{lang}</a></li>
            <li class="nav-item"><a href="{link}Services{link}" id="btnServices" class="nav-link">{lang}navbutton_services{lang}</a></li>
            <li class="nav-item"><a href="{link}Support{link}" id="btnSupport" class="nav-link">{lang}navbutton_support{lang}</a></li>
            <li class="nav-item"><a href="{link}Contact{link}" id="btnContact" class="nav-link">{lang}navbutton_contact{lang}</a></li>
            <li class="nav-item"><a href="{link}_||Ambassadors{link}" id="btnAmbassadors" class="nav-link text-danger"><img src="{publiclink}external/fontawesome/5.7.1/svgs/solid/heart.svg{publiclink}" class="svg-inject"></a></li>
            <li class="nav-item dropdown">
              <a href="#" id="btnAccount" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{publiclink}external/fontawesome/5.7.1/svgs/solid/user.svg{publiclink}" class="svg-inject"></a>
              <div class="dropdown-menu" aria-labelledby="btnAccount">

{ifvalue user}
                <a href="{link}Account|||SSL{link}" class="dropdown-item">{lang}navbutton_account_my_account{lang}</a>
                <a href="{link}Account|Website|Invoices|SSL{link}" class="dropdown-item">{lang}navbutton_account_invoices{lang}</a>
                <a href="{link}Account|Website|Partner|SSL{link}" class="dropdown-item">{lang}navbutton_account_partner_dashboard{lang}</a>
                <div class="dropdown-divider"></div>
                <a href="{link}Account|Website|OkILoveYouByeBye|SSL{link}"  class="dropdown-item">{lang}navbutton_account_log_out{lang}</a>
{else}
                <a href="{link}Account|Website|Login|SSL{link}" class="dropdown-item">{lang}navbutton_account_log_in{lang}</a>
                <a href="{link}Account|Website|Create|SSL{link}" class="dropdown-item">{lang}navbutton_account_create_account{lang}</a>
{ifvalue}

              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">

{import}{value}html_page_contents_file{value}{import}

  </div>

  <footer>
    <div class="container">
      <p id="footerSocialLinks">
        <a href="{link}Contact|Website|Newsletter{link}" title="{escape}{lang}social_newsletter_title{lang}{escape}" class="text-success"><img src="{publiclink}external/fontawesome/5.7.1/svgs/solid/envelope.svg{publiclink}" class="svg-inject"></a>
        <a href="https://twitter.com/osCommerce" target="_blank" title="{escape}{lang}social_twitter_title{lang}{escape}" class="text-info"><img src="{publiclink}external/fontawesome/5.7.1/svgs/brands/twitter.svg{publiclink}" class="svg-inject"></a>
        <a href="https://www.facebook.com/pages/osCommerce/33387373079" target="_blank" title="{escape}{lang}social_facebook_title{lang}{escape}" class="text-primary"><img src="{publiclink}external/fontawesome/5.7.1/svgs/brands/facebook.svg{publiclink}" class="svg-inject"></a>
        <a href="https://github.com/osCommerce" target="_blank" title="{escape}{lang}social_github_title{lang}{escape}" class="text-dark"><img src="{publiclink}external/fontawesome/5.7.1/svgs/brands/github.svg{publiclink}" class="svg-inject"></a>
      </p>

      {lang}copyright_footer{lang}
    </div>
  </footer>

<script src="{publiclink}external/bootstrap/4.3.1/js/bootstrap.bundle.min.js{publiclink}"></script>
<script src="{publiclink}external/svg-inject/1.2.2/svg-inject.min.js{publiclink}"></script>

<script>
$(function() {
  SVGInject(document.querySelectorAll('img.svg-inject'));

  $('#btn' + site_req['app']).addClass('active');
});
</script>

{ifvalue html_footer_tags}
  {raw}html_footer_tags{raw}
{ifvalue}

</body>
</html>
